#wrong{
    visibility: hidden;
    color:red;
}
#correct{
    visibility: hidden;
    color: greenyellow;
}
#wrong1{
    visibility: hidden;
    color:red;
}
#correct1{
    visibility: hidden;
    color: greenyellow;
}
#wrong2{
    visibility: hidden;
    color:red;
}
#wrong21{
    visibility: hidden;
    color:red;
}
#correct2{
    visibility: hidden;
    color: greenyellow;
}
#wrong3{
    visibility: hidden;
    color:red;
}
#correct3{
    visibility: hidden;
    color: greenyellow;
}
#wrong4{
    visibility: hidden;
    color:red;
}
#correct4{
    visibility: hidden;
    color: greenyellow;
}
#wrong5{
    visibility: hidden;
    color:red;
}
#correct5{
    visibility: hidden;
    color: greenyellow;
}
#wrong6{
    visibility: hidden;
    color:red;
}
#correct6{
    visibility: hidden;
    color: greenyellow;
}
abbr{
    color:red;
    border-bottom: none;
    text-decoration: none;
}
#wrong8{
    visibility: hidden;
    color:red;
}
#correct8{
    visibility: hidden;
    color: greenyellow;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#wrong9{
    visibility: hidden;
    color:red;
}
#correct9{
    visibility: hidden;
    color: greenyellow;
}
#wrong10{
    visibility: hidden;
    color:red;
}
#correct10{
    visibility: hidden;
    color: greenyellow;
}
#wrong11{
    visibility: hidden;
    color:red;
}
#correct11{
    visibility: hidden;
    color: greenyellow;
}
#wrong12{
    visibility: hidden;
    color:red;
}
#correct12{
    visibility: hidden;
    color: greenyellow;
}
#submt
{
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;}

#submt
{
    background-color: #9fbc35; 
    padding: 20px; 
    color: #fff;
    width: 200px;
    display: block;
    text-align: center; 
    font-size: 18px; 
    line-height:  25px; 
    font-family: 'robotoslab-bold'; 
    border-radius: 5px;
    margin: 0 auto;
     text-decoration: none;
}
#submt
{
    background: #bbd841;
}
#submt {width: 250px;}
