.navbar-default {
    background-color: white!important;
    border-color: white!important;
}
#sub {
	background-size: cover;
	background-color:#A6A79F;
	color:white;
	font-size:15px;  
	font-family: Yaldevi Jaffna;   
}
#sub img{
	background-color:#A6A79F;
	margin-left:0px;
	height: 58px;
	font-size: 13px;
	margin-top: 2px;
}
.button {
  	background-color:#646560;
  	border: 2px solid white;
  	color: white;
  	padding: 7px 7px;
  	text-align: center;
  	border-radius:4px;
  	font-size: 13px;
  	margin-left:5px;
   	font-family:Yaldevi Jaffna;
  	width: 139px;
}
.button2 {
  	background-color:#A9CA25;
  	border-radius: 0px;
  	color: white;
  	padding: 10px;
  	text-align:center;
  	opacity:0.8;
  	border: 0px;
  	width: 91px;
  	height: 66px;
  	position:absolute;
  	margin-left:120px;
  	margin-right:auto!important; 
    padding: 6px 12px;
    display: block!important;
}
.btn-success{
	background-color: #A9CA25 !important;
}
.button3{
	background-color:#A9CA25;
    color: white;
    border: 0px;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    border-radius:4px;
    font-size: 12px;
    font-family:Yaldevi Jaffna;
    width: 150px;
    background-position: right;  
    background-repeat:no-repeat;   
    background-size: 15px 15px; 
    font-weight: bolder;
    outline: none;
}
#btn10{
	width:115px;
	border-radius: 5px;   
	text-align: center; 
	border: 2px solid #A8CE3A; 
	background-color: white;
	color:#A8CE3A ;
}
#btn10:hover {
  background-color: #A8CE3A; /* Green */
  color: white;
}
.foot{
	background-color:#A6A9A2;
}
@media only screen and (max-width: 600px){
	.card-container{
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}
	#btn10{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#b3{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#sub{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#pop{
		width:275px!important;
	}
	#sub img{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#bt{
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 6px;
	}
	#pmg{
		 margin-top: -42px;
	}
	#cenimg{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	#fot{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.footcon{

	height: 500px
	font-color: white;
	width:100%;
	background-color:#333333;
	font-size: 20px;
	margin:0px;
	color:#F5F5F5;
}
.footcon img{
	width: 86%;
}
.last {
	background-size: cover;
	background-color: #141414;
	color: white;
	font-size: 10px;
	font-family: yaldevi Jaffna;
}
.nav{
	font-size: 10px;
}
.box{
border:1px solid #cccccc;
background-color: white;
height:25px;
width: 160px;
padding: 2px;
padding-right:10px; 
border-radius: 2px;
display: inline-block;
}
#in{
border:0px;
width:130px;
height:20px;
outline: none;
}
#font {
font-size: 12px;
color:#cccccc;
}
.card-container{
	display:flex;

}